.products-detail__heading {
	font-size: 35px;
	font-weight: 400;
	padding-bottom: 45px;
}

.products-detail__title {
	text-align: center;
	font-size: 50px;
}

.products-detail__description > p {
	text-align: center;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 160%;
	font-family: 'Raleway', sans-serif;
}

.products__list div {
	margin-bottom: 11px;
	vertical-align: top;
	border-radius: 5px;
}

.products__grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(1, 1fr);
	max-width: 90%;
	/* margin: 0 auto; */
}

.products__grid .products__image img {
	object-fit: cover;
	max-height: 100px;
}

.products-title a {
	font-size: 0.96rem;
	color: rgb(26, 26, 26);
	font-weight: 600;
}

.products-pricing {
	list-style: none;
}

.products-pricing li {
	font-size: 0.7rem;
}

.products-pricing li ::before {
	content: '$';
}

@media screen and (min-width: 768px) {
	.products-detail {
		max-width: var(--max-container-size);
		min-width: var(--min-container-size);
		width: 75%;
		margin: 0 auto;
		padding: 80px 0 100px 0;
	}

	.products__grid {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(3, 1fr);
		max-width: 85%;
		margin: 0 auto;
	}
}
