@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	/* color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--max-container-size: 71.25rem;
	--min-container-size: 13.5rem;
	--body-text-color: #4d4d4d;
	--border-color: #aa081e;
	--anchor-color: #d71a20;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	color: var(--body-text-color);
	font-size: 14px;
	line-height: normal;
	font-weight: normal;
	margin: 0;
}

ul,
li,
h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
}

.h3,
h3 {
	font-size: 24px;
}

li a {
	font-weight: bold;
	text-decoration: none;
}

a {
	text-decoration: none;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	background-color: transparent;
	color: var(--anchor-color);
}

.container {
	max-width: 1140px;
	width: 98%;
	margin: 0 auto;
	outline: none;
}

.page_default {
	padding-top: 80px;
	padding-bottom: 35px;
	background: #fff;
}

.error {
	text-align: center;
}

label {
	font-weight: 600;
	line-height: 1.5;
	color: #333;
}

.button,
button {
	text-align: center;
	color: #333;
	font-size: 18px;
	display: block;
	border-radius: 5px;
	padding: 10px 20px;
	border: 2px solid #aa081e;
	margin: 20px auto;
	font-weight: 600;
	text-decoration: none;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	cursor: pointer;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
	background: #ccc;
	color: #979797;
	border-color: #ccc;
	cursor: not-allowed;
}

input,
select,
textarea {
	line-height: 25px;
	margin-bottom: 19px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	color: #8c8c8c;
	font-size: 16px;
	background: #fff;
	border: 2px solid #ccc;
	padding: 10px;
}

input:focus,
select:focus,
textarea:focus {
	color: #aa081e;
	border-color: #aa081e;
	outline: 0;
}

.page_title {
	font-weight: 700;
	padding-bottom: 25px;
	margin-bottom: 15px;
	font-size: 25px;
	text-align: center;
}

h1.page_title:after {
	content: '';
	display: block;
	width: 120px;
	background: #a1081c;
	margin: 0 auto;
	margin-top: 20px;
	border: 2px solid #a1081c;
	border-radius: 25px;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
